################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aluminium/.vs/Aluminium/v16/Browse.VC.opendb
/Aluminium/.vs/Aluminium/v16/Browse.VC.db-wal
/Aluminium/.vs/Aluminium/v16/Browse.VC.db-shm
/Aluminium/.vs/Aluminium/v16/Browse.VC.db
/Aluminium/.vs/Aluminium/v16
