################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aluminium/.vs/Aluminium/v16/Browse.VC.opendb
