################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Aluminium/.vs/Aluminium/v16/Browse.VC.opendb
/Aluminium/.vs/Aluminium/v16/Browse.VC.db-wal
/Aluminium/.vs/Aluminium/v16/Browse.VC.db-shm
/Aluminium/.vs/Aluminium/v16/Browse.VC.db
/Aluminium/.vs/Aluminium/v16
/.vs/Aluminium/v16/.suo
/.vs/Aluminium/v16/Browse.VC.opendb
/.vs/Aluminium/v16/Browse.VC.db-wal
/.vs/Aluminium/v16/Browse.VC.db-shm
/.vs/Aluminium/v16/Browse.VC.db
/Aluminium/Aluminium/Debug/Aluminium.tlog/link.write.1.tlog
/Aluminium/Aluminium/Debug/Aluminium.tlog/link.read.1.tlog
/Aluminium/Aluminium/Debug/Aluminium.tlog/link.command.1.tlog
/Aluminium/Aluminium/Debug/Aluminium.tlog/CL.write.1.tlog
/Aluminium/Aluminium/Debug/Aluminium.tlog/CL.read.1.tlog
/Aluminium/Aluminium/Debug/Aluminium.tlog/CL.command.1.tlog
/Aluminium/Aluminium/Debug/Aluminium.tlog/Aluminium.lastbuildstate
/Aluminium/Aluminium/Debug/vc142.pdb
/Aluminium/Aluminium/Debug/vc142.idb
/Aluminium/Aluminium/Debug/Main.obj
/Aluminium/Aluminium/Debug/Aluminium.obj
/Aluminium/Aluminium/Debug/Aluminium.exe.recipe
/Aluminium/Debug/Aluminium.pdb
/Aluminium/Debug/Aluminium.ilk
/Aluminium/Debug/Aluminium.exe
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Aluminium/v16/ipch/AutoPCH/1fae0642704f889/MAIN.ipch
/Aluminium/Aluminium/Debug
/Aluminium/Debug
/.vs/Aluminium/v16/ipch/AutoPCH/49fe3d33079fc7d6/DISCORD.ipch
*.ipch
